<a href="https://colab.research.google.com/github/dtoralg/INESDI_Data-Science_ML_IA/blob/main/%5B01%5D%20-%20Preparaci%C3%B3n%20de%20datos%20y%20EDA/EDA_Ejercicio_3_exploracion_nyc_airbnb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## EDA - Ejercicio 3: exploracion_nyc_airbnb.ipynb

En este ejercicio realizarás de forma autónoma un análisis exploratorio del dataset de alojamientos de Airbnb en Nueva York.
Aplicarás todas las técnicas vistas en los ejercicios anteriores (tipos de variables, nulos, outliers, correlaciones y visualización).

**Este ejercicio está pensado para que tú lo resuelvas completamente.**

### Objetivos
- Aplicar de forma autónoma las técnicas básicas de EDA.
- Detectar problemas de calidad de datos y patrones relevantes.
- Usar visualizaciones para respaldar observaciones.

### Descripción del dataset
Usaremos el dataset público de Inside Airbnb con los anuncios activos en Nueva York a fecha de agosto de 2024.
Incluye información de precio, ubicación, tipo de habitación, noches mínimas, disponibilidad y valoraciones.

Fuente: [Inside Airbnb - NYC listings](https://data.insideairbnb.com/united-states/ny/new-york-city/2025-08-01/visualisations/listings.csv)

Como Inside Airbnb cambia el enlace con cada nueva release, puede que sea necesario actualizarlo buscandolo en [Inside Airbnb](https://insideairbnb.com/get-the-data/)

In [2]:
# Importar librerías necesarias
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style='whitegrid')

In [3]:
# Cargar el dataset de Inside Airbnb NYC (comprimido en .csv.gz)
url = 'https://data.insideairbnb.com/united-states/ny/new-york-city/2025-08-01/visualisations/listings.csv'
df = pd.read_csv(url)
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2539,Superfast Wi-Fi. Clean & quiet home by the park,2787,John,Brooklyn,Kensington,40.64529,-73.97238,Private room,260.0,30,9,2018-10-19,0.08,6,365,0,NaN
1,2595,Skylit Studio Oasis | Midtown Manhattan,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,240.0,30,47,2022-06-21,0.25,3,365,0,NaN
2,6848,Only 2 stops to Manhattan studio,15991,Allen,Brooklyn,Williamsburg,40.70935,-73.95342,Entire home/apt,98.0,30,195,2025-06-09,0.99,1,1,3,NaN
3,6872,Uptown Sanctuary w/ Private Bath (Month to Month),16104,Kahshanna,Manhattan,East Harlem,40.80107,-73.94255,Private room,NaN,30,1,2022-06-05,0.03,2,24,0,NaN
4,6990,UES Beautiful Blue Room,16800,Cynthia,Manhattan,East Harlem,40.78778,-73.94759,Private room,74.0,30,249,2025-05-27,1.30,1,288,6,NaN

### 1. Información general del dataset

In [ ]:
# TODO: Mostrar las dimensiones del dataset y sus primeras filas
# Usa .shape y .head()
# TODO

In [ ]:
# TODO: Verifica el tipo de variables con df.dtypes
# ¿Hay columnas que no sean útiles para el análisis? ¿ID, nombres, etc.?
# TODO

### 2. Análisis de nulos y duplicados

In [ ]:
# TODO: Calcula el % de nulos por columna y muestra solo las columnas con más del 10%
# Pista: df.isnull().mean() * 100
# TODO

In [ ]:
# TODO: Verifica si hay filas duplicadas
# Pista: df.duplicated().sum()
# TODO

### 3. Análisis univariado (distribuciones)

In [ ]:
# TODO: Visualiza la distribución de precios con histograma y límite razonable (por ejemplo, hasta $500)
# TODO

In [ ]:
# TODO: Explora también la distribución de minimum_nights y availability_365
# Limita los ejes si hay outliers muy extremos
# TODO

### 4. Análisis de outliers

In [ ]:
# TODO: Crea un boxplot de precios para detectar outliers
# TODO

In [ ]:
# TODO: Crea otro boxplot con otra variable numérica relevante (por ejemplo, number_of_reviews)
# TODO

### 5. Análisis geográfico

In [ ]:
# TODO: Representa la ubicación de los alojamientos con un scatterplot usando longitude y latitude
# Usa una muestra aleatoria de ~5000 filas si es necesario
# TODO

### 6. Análisis de correlaciones

In [ ]:
# TODO: Calcula la matriz de correlación y represéntala con heatmap
# Usa solo variables numéricas
# TODO

In [ ]:
# TODO: Muestra las correlaciones más fuertes ordenadas (en valor absoluto)
# Pista: usa .unstack(), .abs(), .sort_values()
# TODO

### 7. Análisis de relaciones entre variables

In [ ]:
# TODO: Compara el precio según tipo de habitación con boxplot
# Eje x: room_type | Eje y: price
# Aplica límites al eje y si hay outliers
# TODO

In [ ]:
# TODO: Crea un countplot del número de alojamientos por barrio (neighbourhood_group o similar)
# TODO

### Conclusión
Resume en una celda markdown los principales hallazgos de tu análisis: variables con problemas de calidad, patrones detectados, correlaciones destacadas y qué variables podrían ser útiles para modelos de predicción.